<h1>Sign In</h1>

<%= form_tag ({ method: 'post', controller: 'sessions', action: 'create' }) do %>
    Username: 
    <%= text_field_tag :'user[username]' %>
    Password: 
    <%= password_field_tag :'user[password]' %>
  
    <%= submit_tag 'log in' %>
  <% end %>

  <% flash.each do |type, msg| %>
    <div class="flash">
      <%= msg %>
    </div>
  <% end %>