<h1> Share Detail </h1>
Bar: <%= @share.location.name %> <br>
Zip: <%= @share.location.zip %> <br>
Menu Link: <%= @share.location.menu_link %> <br>

<br>

Drink Size: <%= @share.size %> <br>
Drink Price: <%= @share.price %> <br>
Available Always? If Not, When?: <%= @share.when_available %> <br>
